body{
    display: flex;
    background-image: linear-gradient(180deg, #D6E1FF 37%, #E0E8FF 41%);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;

}

.cont{
    display: flex;
    flex-direction: row;
    flex: 1;
    width: 99vw;
    height: 60em;
    border:3px solid blue;
    overflow: hidden;
    z-index: 0;
}

.container{
    display: flex;
    flex-flow: row wrap;
    flex: 3;
    height: 50%;
    border: 2px solid purple;
    margin-left: -30px;

}

.bola{
   display: flex;
    flex: 2;
    /*height: 130%;*/
}

#b1{
    background-color: #D6E1FF;
    border: 2px solid red;
    -moz-border-radius-bottomleft:60%;
    -webkit-border-bottom-left-radius:52%;
    -moz-border-radius-bottomright:60%;
    -webkit-border-bottom-right-radius:40%;

}

#b2{
    background-color: #E0E8FF;
    border: 2px solid red;
    -moz-border-radius-topleft:60%;
    -webkit-border-top-left-radius:70%;
    -moz-border-radius-topright:60%;
    -webkit-border-top-right-radius:44%;
     transform: translateY(260px);
    margin-left: -103px;
    margin-right: -25px;
}

.card{
    display: flex;
    flex-flow: column wrap;
    width: 10em;
    height: 40em;
    position: absolute;
}

#con2{
    border: 2px solid magenta;
    transform: translateY(-60em);
}

.card{
    display: flex;
    flex-grow: 5;
    transform: translateX(55em);
    background-color: whitesmoke;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    top:120px;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
    gap: 150em;
    font-family: "Red Hat Display", sans-serif;
    border: 2px solid black;
}

/*img{
    height: 230px;
    width: 460px;
}*/

#titulo{
    color: #1F2E55;
    font-weight: 800;
    top: 10px;
}

p{
    width: 20em;
    font-size: 1.1em;
    word-spacing: 2px;
    color:#717FA6;

}

@media screen and (max-width: 1000px) {
    .card{
        transform: translateY(0);
    }

}